@model InventorySystem.Models.BoxItemsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Box Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoxViewModel.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxViewModel.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxViewModel.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxViewModel.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxViewModel.Fullness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxViewModel.Fullness)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxViewModel.Value)
        </dt>

        <dd>
            £@Html.DisplayFor(model => model.BoxViewModel.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxViewModel.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxViewModel.Category)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoxViewModel.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h2>Items inside this box</h2>

@Html.Partial("_ViewItems", Model.ItemViewModel)


