@model IEnumerable<InventorySystem.Models.Item>




<div id="itemList">
    @foreach (var item in Model)
    {
    <div class="row">
        <div class="col-md-1">
            <div>
                @if (!String.IsNullOrEmpty(@item.GalleryURL))
                {
                    <img class="img-thumbnail" src="@item.GalleryURL" />
                }else{                       
                    <img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" />
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="info">
                <div>@item.Name</div>
                <div>@item.Price</div>
                <div>
                    <a href="@item.EbayUrl" target = "_blank">Ebay URL</a>
                </div>   
            </div>
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Edit", "Edit", "Item", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Item", new { id = item.Id }, null) |
            @*@Html.ActionLink("Archieve", "Archieve", "Item", new { id = item.Id }, null) |*@
            @Html.ActionLink("Delete", "Delete", "Item", new { id = item.Id }, null)
        </div>

    </div>
    <hr />
    }
</div>