@model InventorySystem.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                General:
            </dt>
            <dd></dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EbayUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EbayUrl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PictureURL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PictureURL)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ItemSoldTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ItemSoldTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Archieved)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Archieved)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ItemNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>

    </div>
    <div class="col-md-4" style="border-style:solid;">

        <dl class="dl-horizontal">
            <dt>
                Item:
            </dt>
            <dd></dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                £@Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShippingServiceCost)
            </dt>
            <dd>
                £@Html.DisplayFor(model => model.ShippingServiceCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HitCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HitCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WatchCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WatchCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
        </dl>




    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Description)

    </div>
</div>

